{{ define "main" }}

<style>
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#capabilities {
  background-image: url("/pageimg/hero-back.PNG");
}
#structures {
  background-image: url("/pageimg/hero-back.PNG");
}
.structure-outer-box:hover > img {
    height: 0px !important;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.amenities-outer-box:hover > img {
    height: 0px !important;
}
.amenities-outer-box:hover > .amenities-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
}
.amenities-outer-box:hover > .amenities-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.facilities-support {
    background-image: url("/pageimg/facility-support.jpg");
}
.turn-key-camps {
    background-image: url("/pageimg/turn-key-camps.jpg");
}
.tactical-operation-centers {
    background-image: url("/pageimg/Tactical Operation Centers.jpg");
}
.power {
    background-image: url("/pageimg/power.jpg");
}
.lighting {
    background-image: url("/pageimg/lighting.jpg");
}
.hvac {
    background-image: url("/pageimg/hvac.jpg");
}
.kitchens {
    background-image: url("/pageimg/kitchen.jpg");
}
.laundry {
    background-image: url("/pageimg/laundry.jpg");
}
.toilets {
    background-image: url("/pageimg/bathrooms.jpg");
}
.sinks {
    background-image: url("/pageimg/sinks.jpg");
}
.showers {
    background-image: url("/pageimg/hero-homepage.jpg");
}
</style>

<section id="amenities" class="relative flex flex-wrap bg-color-F0F0F0 py-24">

<div id="amenitiesTitle" class="w-1/6 lg:w-1/5">
    <h2 class="w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">Amenities</h2>
</div>

<div class="flex flex-wrap items-start w-4/5 xl:w-9/12">

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

    <div class="w-full bg-cover h-80 bg-no-repeat bg-center power">
        <div class="py-20 md:py-24"></div>
    </div>
    <div class="w-full text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Power</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">We provide low emission, sound attenuated, trailerized, diesel powered units for when power is critical to the success of your mission.</p>
    </div>

</div>

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom lighting">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Lighting</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Special lighting system options using any standard lighting system that eliminates shadows within your structure. Portable light sets available, too.</p>
</div>

</div>

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom hvac">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">HVAC</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Climate-controlled environments with on-site power distribution, air conditioning, heating and ventilation for all tents and clearspan structures.</p>
</div>

</div>
<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom kitchens">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Kitchens</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">We provide a fully functioning, self-contained kitchen inside trailers or engineered, tented facilities.</p>
</div>

</div>
<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom laundry">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Laundry</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Our clearspan tented structures are ideal for laundry facilities with raised flooring, lighting, doors, fire extinguishers, and exit signs.</p>
</div>

</div>
<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom toilets">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Toilets</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">We can equip any site with trailerized, flushable, climate-controlled toilet trailers in 3-stall, 5-stall, 6-stall, and 10-stall configurations.</p>
</div>

</div>

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom sinks">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Sinks</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">We can equip any site with trailerized, climate-controlled sink trailers with hot and cold water and mirrors.</p>
</div>

</div>

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom showers">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Showers</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">We can equip any site with trailerized, climate-controlled shower trailers with hot andcold water, mirrors, exhaust fans, and privacy areas.</p>
</div>

</div>

</div>

</section>

{{ partial "page-globals/green-CTA.html" . }}

{{ partial "page-globals/structures(right-title).html" . }}

{{ partial "page-globals/greenbacked-capabilities.html" . }}

{{ end }}