{{ define "main" }}

<style>
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#capabilities {
  background-image: url("/pageimg/hero-back.PNG");
}
#structures {
  background-image: url("/pageimg/hero-back.PNG");
}
.structure-outer-box:hover > img {
    height: 0px !important;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.assets-outer-box:hover > img {
    height: 0px !important;
}
.assets-outer-box:hover > .assets-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
}
.assets-outer-box:hover > .assets-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.facilities-support {
    background-image: url("/pageimg/facility-support.jpg");
}
.turn-key-camps {
    background-image: url("/pageimg/turn-key-camps.jpg");
}
.tactical-operation-centers {
    background-image: url("/pageimg/Tactical Operation Centers.jpg");
}
</style>

<section id="assets" class="relative flex flex-wrap bg-color-F0F0F0 py-24 md:pl-6 md:pr-20">

<div id="assetsTitle" class="w-1/6 lg:w-1/5">
    <h2 class="w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">Assets</h2>
</div>

<div class="flex flex-wrap items-start w-4/5 xl:w-9/12">

{{ range (where .Site.Pages "Type" "assets" ) }}

<style>
.asset-image-{{ .Params.name | lower | urlize }} {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.image }}")
}
</style>

<div id="{{ .Params.name | lower | urlize }}" class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

    <div class="w-full bg-cover h-80 bg-no-repeat bg-center asset-image-{{ .Params.name | lower | urlize }}">
        <div class="py-20 md:py-24"></div>
    </div>
    <div class="w-full text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">assets</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Params.name }}</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">{{ .Params.text }}</p>
    </div>

</div>

{{ end }}

</section>

{{ partial "page-globals/green-CTA.html" . }}

{{ partial "page-globals/structures(right-title).html" . }}

{{ partial "page-globals/greenbacked-capabilities.html" . }}

{{ end }}