{{ define "main" }}

<style>
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#structures {
  background-image: url("/pageimg/hero-back.PNG");
}
#amenities {
  background-image: url("/pageimg/hero-back.PNG")
}
.structure-outer-box:hover > img {
    height: 0px !important;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.amenities-outer-box:hover > img {
    height: 0px !important;
}
.amenities-outer-box:hover > .amenities-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
}
.amenities-outer-box:hover > .amenities-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.facilities-support {
    background-image: url("/pageimg/facility-support.jpg");
}
.turn-key-camps {
    background-image: url("/pageimg/turn-key-camps.jpg");
}
.tactical-operation-centers {
    background-image: url("/pageimg/Tactical Operation Centers.jpg");
}
.business-continuity {
    background-image: url("/pageimg/business-continuity-build-solution.jpg");
}
.lsa-support {
    background-image: url("/pageimg/LSA Support.jpg");
}
</style>

{{ partial "page-globals/capabilities-inner-pages.html" . }}

{{ partial "page-globals/green-CTA.html" . }}

{{ partial "page-globals/structures.html" . }}

{{ partial "page-globals/amenities.html" . }}

{{ end }}