{{ define "main" }}

<style>
.tns-outer {
    width: 100%;
}
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#capabilities-slider-images-iw {
    margin-left: 0px !important;
}
#structures {
  background-image: url("/pageimg/hero-back.PNG");
}
#amenities {
  background-image: url("/pageimg/hero-back.PNG")
}
@media screen and (min-width:992px) {
.tns-ovh {
    margin-left: 0px;
}
.tns-outer {
    width: auto;
}
.pop-shadow {
    transform: translate(0%,-2%);
    transition: 1s;
}
}
</style>

<section id="capabilities" class="relative flex flex-wrap bg-color-F0F0F0 pt-24">

<div id="capabilitiesTitle" class="w-1/6">
    <h2 class="w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">{{ .Page.Params.capabilities_section.vertical_title }}</h2>
</div>

<div id="capabilities-slider" class="flex flex-wrap w-5/6 lg:w-4/5 ml-auto pb-12 px-3 lg:px-0 overflow-hidden capabilities-slider">
    <div class="flex flex-wrap lg:w-5/12 mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest">{{ .Page.Params.capabilities_section.subtitle }}</h6>
    <h2 class="w-full font-titling text-3xl lg:text-5xl xxl:text-6xl font-bold leading-none py-4">{{ .Page.Params.capabilities_section.title }}</h2>
    <p class="w-full font-ibm text-base leading-normal pb-4 opacity-75">{{ .Page.Params.capabilities_section.text }}</p>
    </div>
    <ul class="hidden lg:flex flex-wrap w-full controls" id="capabilities-slider-controls">
        <div class="w-auto">
            <i class="text-color-11594C hover:text-color-0D443A text-4xl opacity-25 px-2 fas fa-caret-left capa-arrow-left"></i>
        </div>
        <div class="w-auto">
            <i class="text-color-11594C hover:text-color-0D443A text-4xl px-2 fas fa-caret-right capa-arrow-right"></i>
        </div>
    </ul>
    <div id="capabilities-slider-images" class="flex flex-wrap pt-5">
    <div class="flex flex-wrap pb-8 pop-shadow capabilities-outer-box-0">
        <div class="flex flex-wrap w-full bg-white border-color-F0F0F0 border-r-32">
            <div class="flex flex-wrap shadow-lg capabilities-inner-box-0">
                <img class="w-full h-56" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Page.Params.capabilities_slider.first_slide.image }}">
                <div class="bg-white pt-6 pb-8 px-8">
                    <h4 class="font-titling text-2xl leading-none">{{ .Page.Params.capabilities_slider.first_slide.title }}</h4>
                    <p class="font-ibm text-base leading-normal pt-3 pb-8 opacity-75">{{ .Page.Params.capabilities_slider.first_slide.text }}</p>
                    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Page.Params.capabilities_slider.first_slide.button_link }}">
                        <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Page.Params.capabilities_slider.first_slide.button_text }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap pb-8 capabilities-outer-box-1">
        <div class="flex flex-wrap w-full bg-white border-color-F0F0F0 border-r-32">
            <div class="flex flex-wrap capabilities-inner-box-1">
                <img class="w-full h-56" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Page.Params.capabilities_slider.second_slide.image }}">
                <div class="bg-white pt-6 pb-8 px-8">
                    <h4 class="font-titling text-2xl leading-none">{{ .Page.Params.capabilities_slider.second_slide.title }}</h4>
                    <p class="font-ibm text-base leading-normal pt-3 pb-8 opacity-75">{{ .Page.Params.capabilities_slider.second_slide.text }}</p>
                    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Page.Params.capabilities_slider.second_slide.button_link }}">
                        <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Page.Params.capabilities_slider.second_slide.button_text }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap pb-8 capabilities-outer-box-2">
        <div class="flex flex-wrap w-full bg-white border-color-F0F0F0 border-r-32">
            <div class="flex flex-wrap capabilities-inner-box-2">
                <img class="w-full h-56" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Page.Params.capabilities_slider.third_slide.image }}">
                <div class="bg-white pt-6 pb-8 px-8">
                    <h4 class="font-titling text-2xl leading-none">{{ .Page.Params.capabilities_slider.third_slide.title }}</h4>
                    <p class="font-ibm text-base leading-normal pt-3 pb-8 opacity-75">{{ .Page.Params.capabilities_slider.third_slide.text }}</p>
                    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Page.Params.capabilities_slider.third_slide.button_link }}">
                        <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Page.Params.capabilities_slider.third_slide.button_text }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="flex flex-wrap pb-8 capabilities-outer-box-3">
        <div class="flex flex-wrap w-full bg-white border-color-F0F0F0 border-r-32">
            <div class="flex flex-wrap capabilities-inner-box-3">
                <img class="w-full h-56" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-8">
                    <h4 class="font-titling text-2xl leading-none">Event Support</h4>
                    <p class="font-ibm text-base leading-normal py-3 opacity-75">Ranco Response provides the temporary facilities to ensure the health and comfort of the visiting population. All facilities and systems are assimilated into existing infrastructure and operated in accordance with all federal, state, and local guidelines with the safety of the attendees the number one priority.</p>
                    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Params.hero_button_link }}">
                        <span class="font-titling text-2xs text-white tracking-widest uppercase">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap pb-8 capabilities-outer-box-4">
            <div class="flex flex-wrap w-full bg-white border-color-F0F0F0 border-r-32">
                <div class="flex flex-wrap capabilities-inner-box-4">
                    <img class="w-full h-56" src="https://picsum.photos/500/250">
                    <div class="bg-white pt-6 pb-8 px-8">
                        <h4 class="font-titling text-2xl leading-none">Event Support</h4>
                        <p class="font-ibm text-base leading-normal py-3 opacity-75">Ranco Response provides the temporary facilities to ensure the health and comfort of the visiting population. All facilities and systems are assimilated into existing infrastructure and operated in accordance with all federal, state, and local guidelines with the safety of the attendees the number one priority.</p>
                        <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Params.hero_button_link }}">
                            <span class="font-titling text-2xs text-white tracking-widest uppercase">Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

</section>

{{ partial "page-globals/structures.html" . }}

{{ partial "page-globals/amenities.html" . }}

{{ partial "page-globals/green-CTA.html" . }}

{{ end }}