{{ define "main" }}

<style>
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#structures {
  background-image: url("/pageimg/hero-back.PNG");
}
#amenities {
  background-image: url("/pageimg/hero-back.PNG")
}
.structure-outer-box:hover > img {
    height: 0px !important;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.amenities-outer-box:hover > img {
    height: 0px !important;
}
.amenities-outer-box:hover > .amenities-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
}
.amenities-outer-box:hover > .amenities-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.facilities-support {
    background-image: url("/pageimg/facility-support.jpg");
}
.turn-key-camps {
    background-image: url("/pageimg/turn-key-camps.jpg");
}
.tactical-operation-centers {
    background-image: url("/pageimg/Tactical Operation Centers.jpg");
}
.business-continuity {
    background-image: url("/pageimg/business-continuity-build-solution.jpg");
}
.lsa-support {
    background-image: url("/pageimg/LSA Support.jpg");
}
</style>

<section id="capabilities" class="relative flex flex-wrap bg-color-F0F0F0 py-24">

<div id="capabilitiesTitle" class="w-1/6 lg:w-1/5">
    <h2 class="w-1/3 lg:w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text">Capabilities</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 pr-8">

<div class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Emergency Response</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Facilities Support</h2>
        <p class="font-ibm text-base leading-normal pb-12">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
    </div>
    <div class="w-full lg:w-2/5 bg-cover bg-no-repeat bg-center mb-5 facilities-support">
        <div class="py-20 md:py-24"></div>
    </div>

</div>

<div class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Emergency Response</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Turn-key Camps</h2>
    <p class="font-ibm text-base leading-normal pb-12">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
</div>
<div class="w-full lg:w-2/5 bg-cover bg-no-repeat bg-bottom mb-5 turn-key-camps">
    <div class="py-20 md:py-24"></div>
</div>

</div>

<div class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Emergency Response</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Tactical Operation Centers</h2>
        <p class="font-ibm text-base leading-normal pb-12">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
    </div>
    <div class="w-full lg:w-2/5 bg-cover bg-no-repeat bg-center mb-5 tactical-operation-centers">
        <div class="py-20 md:py-24"></div>
    </div>

</div>

<div class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Emergency Response</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Business Continuity</h2>
    <p class="font-ibm text-base leading-normal pb-12">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
</div>
<div class="w-full lg:w-2/5 bg-cover bg-no-repeat bg-center mb-5 business-continuity">
    <div class="py-20 md:py-24"></div>
</div>

</div>

<div class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Emergency Response</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">LSA Support</h2>
        <p class="font-ibm text-base leading-normal pb-12">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
    </div>
    <div class="w-full lg:w-2/5 bg-cover bg-no-repeat bg-center mb-5 lsa-support">
        <div class="py-20 md:py-24"></div>
    </div>

</div>

</div>

</section>

<section id="CTA-green-section" class="flex flex-wrap bg-color-00594D">
    <h4 class="w-5/6 lg:w-1/2 font-titling text-2xl text-white text-center mx-auto leading-tight py-8">Find out how Ranco Response can help you execute your next project.</h4>
    <div class="flex flex-wrap w-full mx-auto pb-10">
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner ml-auto mr-2 pt-1 pb-2 px-4 rounded-lg" href="#">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">Call us now</span>
    </a>
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner mr-auto ml-2 pt-1 pb-2 px-4 rounded-lg" href="#">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">Email us now</span>
    </a>
    </div>
</section>

<section id="structures" class="relative flex flex-wrap pt-24 bg-white">

<div id="structuresTitle" class="w-1/6 lg:w-1/5">
    <h2 class="w-1/3 lg:w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-E6E6E6 font-bold mx-auto py-4 uppercase vertical-text">Structures</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 ml-auto md:mx-auto px-3 lg:px-0">
    <div class="flex flex-wrap lg:w-1/2 mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest">Proactive Planning</h6>
    <h2 class="w-full font-titling text-3xl lg:text-5xl xxl:text-6xl font-bold text-white leading-none py-4">Everything under one roof</h2>
    <p class="w-full font-ibm text-xl text-white leading-normal pb-4">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented maintenance system.</p>
    </div>
    <div class="flex flex-wrap w-full max-w-4xl pt-5 pb-24">
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 structure-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 structure-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Lunch and Break Areas</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 structure-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 structure-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Warehouse & Storage</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system. Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 structure-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 structure-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Construction Covers</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 structure-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 structure-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Extreme Weather</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 structure-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 structure-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Life Support Areas</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 structure-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 structure-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Event Spaces</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
    </div>
</div>

</section>

<section id="amenities" class="relative flex flex-wrap pt-24">

<div class="flex flex-wrap w-5/6 lg:w-3/5 ml-auto md:mx-auto px-3 lg:px-0">
    <div class="flex flex-wrap lg:w-1/2 mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest">Proactive Planning</h6>
    <h2 class="w-full font-titling text-3xl lg:text-5xl xxl:text-6xl font-bold text-white leading-none py-4">Your comfort, covered</h2>
    <p class="w-full font-ibm text-xl text-white leading-normal pb-4">Ranco Response own and maintains the full spectrum of components necessary for temporary facility support. Whether it is a turn-key base camp or wrap around components enhancing existing utilities, Ranco Response is prepared to assist in your readiness.</p>
    </div>
    <div class="flex flex-wrap w-full max-w-4xl pt-5 pb-24">
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Power</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Lighting</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">HVAC</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Kitchens</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Laundry</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Toilets</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Sinks</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Showers</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
        <a class="w-full md:w-1/2 lg:w-1/3 hover:cursor-pointer">
            <div class="md:pr-5 pb-8 amenities-outer-box">
                <img class="w-full h-40" src="https://picsum.photos/500/250">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Others</h4>
                    <p class="font-ibm text-0 leading-tight">Our organic inventory is capable of supporting up to 5,000 persons and is regularly maintained through our planned and documented system.</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div id="amenitiesTitle" class="w-1/6 lg:w-1/5 -ml-8 md:left-0">
    <h2 class="w-1/2 md:w-1/4 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-E6E6E6 font-bold mx-auto py-4 uppercase vertical-text">AMENITIES</h2>
</div>

</section>

{{ end }}