{{ define "main" }}

{{ if eq .Site.Params.extraTools.algoliaSearch true }}

<section id="search-section" class="relative bg-white m-0">

<div id="menuSelect"></div>

<div id="searchbox" class="flex flex-wrap"></div>

<div id="hits"></div>
<div id="pagination"></div>

<script type="text/html" id="hit-template">
    <a class="no-underline" href="#" onclick="window.location={{ "{{{ url }}}" }}">
  <div class="p-4 m-4 bg-white hit">
    <div class="text-center hit-content">
      <h2 class="text-2xl font-semibold m-0 pb-2 leading-tight hit-name">{{ "{{{ title }}}" }}</h2>
      <p class="text-lg font-thin m-0">{{ "{{{ excerpt }}}" }}</p>
    </div>
  </div>
</a>
</script>

</section>

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.1/dist/algoliasearchLite.js" integrity="sha256-pMaJf0I78weeXGkRMBDO6jSulxC/q3sb0aPdtV2N8n0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.2.0" integrity="sha256-/8usMtTwZ01jujD7KAZctG0UMk2S2NDNirGFVBbBZCM=" crossorigin="anonymous"></script>

<script>
const searchClient = algoliasearch('{{ .Site.Params.algolia.appId }}', '{{ .Site.Params.algolia.searchKey }}');

const search = instantsearch({
  indexName: '{{ .Site.Params.algolia.indexName }}',
  searchClient,
});

search.addWidget(
    instantsearch.widgets.searchBox({
    container: "#searchbox",
    placeholder: "Search",
    cssClasses: {
      root: 'flex flex-wrap w-full',
      form: 'flex flex-wrap w-full',
      input: 'w-4/5 mx-auto p-3 mb-2 text-2xl bg-gray-300 text-black rounded-lg outline-none',
      submitIcon: 'hidden',
      resetIcon: 'hidden',
    },
  }),
);

search.addWidget(
    instantsearch.widgets.hits({
  container: '#hits',
  templates: {
    item: document.getElementById('hit-template').innerHTML,
    empty: "We didn't find any results for the search <em>\"{{ "{{{ query }}}" }}\"</em>"
  },
  cssClasses: {
      list: "flex flex-wrap list-reset",
      emptyRoot: "text-center py-8 text-xl",
      item: "w-full lg:w-4/5 mx-auto border-t-2 border-b-2 hover:border-rem-red"
  }
})
);

search.addWidget(
    instantsearch.widgets.pagination({
  container: '#pagination',
  cssClasses: {
    list: "flex items-center py-8 m-0 border-b-4 list-reset text-center",
    empty: "something",
    item: "w-1/5 text-white",
    link: "no-underline text-gray-600 hover:text-black",
    pageItem: "text-xl",
    firstPageItem: "text-3xl",
    lastPageItem: "text-3xl",
    previousPageItem: "text-3xl",
    nextPageItem: "text-3xl",
    disabledItem: "opacity-50"
}
})
);

search.addWidget(
instantsearch.widgets.menuSelect({
  container: '#menuSelect',
  attribute: 'type',
  templates: {
    defaultOption: 'search by category..',
},
cssClasses: {
      root: 'flex flex-wrap w-full',
      select: 'w-4/5 mx-auto p-3 mb-2 text-lg bg-gray-300 text-black rounded-lg outline-none',
    },
})
);

search.start();
</script>

{{ else }}

{{ end }}

{{ end }}