{{ define "main" }}

<style>
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#amenities {
  background-image: url("/pageimg/hero-back.PNG")
}
.structure-outer-box:hover > img {
    height: 0px !important;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.amenities-outer-box:hover > img {
    height: 0px !important;
}
.amenities-outer-box:hover > .amenities-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
}
.amenities-outer-box:hover > .amenities-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.lunch-break-areas {
    background-image: url("/pageimg/facility-support.jpg");
}
.warehouse-storage {
    background-image: url("/pageimg/warehouse_chemistry_industry_storage_tanks.jpg");
}
.construction-covers {
    background-image: url("/pageimg/construction-covers.jpeg");
}
.extreme-weather {
    background-image: url("/pageimg/extreme-weather.jpg");
}
.life-support-areas {
    background-image: url("/pageimg/life-support-areas.jpg");
}
.event-spaces {
    background-image: url("/pageimg/hero-homepage.jpg");
}
.facilities-support {
    background-image: url("/pageimg/facility-support.jpg");
}
.turn-key-camps {
    background-image: url("/pageimg/turn-key-camps.jpg");
}
.tactical-operation-centers {
    background-image: url("/pageimg/Tactical Operation Centers.jpg");
}
</style>

<section id="structures" class="relative flex flex-wrap bg-color-F0F0F0 py-24 md:pl-6 md:pr-20">

<div id="structuresTitle" class="w-1/6 lg:w-1/5">
    <h2 class="w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">Structures</h2>
</div>

<div class="flex flex-wrap items-start w-4/5 xl:w-9/12">

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

    <div class="w-full bg-cover h-80 bg-no-repeat bg-center lunch-break-areas">
        <div class="py-20 md:py-24"></div>
    </div>
    <div class="w-full text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Lunch and Break Areas</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">We can install lunch tents, break areas, and dining facilities on-site with cafeteria-style seating to serve 50 to 3,000+ people.</p>
    </div>

</div>

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom warehouse-storage">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Warehouse & Storage</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">A just-in-time warehouse solution for seasonal or overflow inventory, industrial storage, or temporary storage during the expansion of current facilities.</p>
</div>

</div>

<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom construction-covers">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Construction Covers</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">A durable construction site cover to protect your work site, equipment, and workers from debris or weather customized to meet your exact needs.</p>
</div>

</div>
<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom extreme-weather">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Extreme Weather</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Ranco Response creates engineered, climate-controlled, fully lit work covers to keepcrews comfortable and projects on schedule.</p>
</div>

</div>
<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom life-support-areas">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Life Support Areas</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">We provide staffing, equipment, transportation, and support services to conduct self-contained, turn-key Logistics Support Area (LSA) operations.</p>
</div>

</div>
<div class="flex flex-wrap w-full lg:w-1/2 items-start px-5">

<div class="w-full bg-cover h-80 bg-no-repeat bg-bottom event-spaces">
    <div class="py-20 md:py-24"></div>
</div>
<div class="w-full text-black mr-auto">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-5 pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Event Spaces</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Temporary infrastructure with the reliability, safety, and performance you would expect from a municipal system.</p>
</div>

</div>

</div>

</section>

{{ partial "page-globals/green-CTA.html" . }}

{{ partial "page-globals/amenities.html" . }}

{{ partial "page-globals/greenbacked-capabilities(structures).html" . }}

{{ end }}