{{ define "main" }}
<style>#thank-you{background-image:url("{{ .Site.Params.utility_images.thank_you_background }}");background-size:auto;background-repeat:no-repeat;}</style>

<section id="thank-you" class="flex h-screen">
  <div class="flex w-full bg-white text-center">
  <div class="w-5/6 font-ibm mx-auto text-black pt-32">
    <h1 class="text-2xl lg:text-4xl pb-4"><span class="bg-color-11594C py-1 px-2 italic text-white">Thank you.</span> your submission has been received.</h1>
    <h2 class="text-lg lg:text-2xl font-thin pb-6">We will be in touch shortly.</h2>
    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="/">
      <span class="font-titling text-2xs text-white tracking-widest uppercase">Return to home page</span>
  </a>
  </div>
  </div>
</section>

{{ end }}