{{ define "main" }}

<style>
.vertical-text {
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#structures {
  background-image: url("/pageimg/hero-back.PNG");
}
#assets {
  background-image: url("/pageimg/hero-back.PNG")
}
.structure-outer-box:hover > img {
    height: 0px !important;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.assets-outer-box:hover > img {
    height: 0px !important;
}
.assets-outer-box:hover > .assets-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
}
.assets-outer-box:hover > .assets-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
}
.facilities-support {
    background-image: url("/pageimg/facility-support.jpg");
}
.turn-key-camps {
    background-image: url("/pageimg/turn-key-camps.jpg");
}
.tactical-operation-centers {
    background-image: url("/pageimg/Tactical Operation Centers.jpg");
}
.business-continuity {
    background-image: url("/pageimg/business-continuity-build-solution.jpg");
}
.lsa-support {
    background-image: url("/pageimg/LSA Support.jpg");
}
</style>

<section id="capabilities" class="relative flex flex-wrap bg-color-F0F0F0 py-24 md:px-12 lg:px-24">

<div id="capabilitiesTitle" class="w-1/6">
    <h2 class="w-1/2 md:w-1/5 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">{{ .Site.Data.global_data.capabilities_bottom_sections.vertical_title }}</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 pr-8">

<div id="mobile-command-center" class="flex flex-wrap flex-col-reverse xl:flex-row items-center pb-8">

    <div class="w-full xl:w-5/12 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Params.capabilities_section.first_section.subtitle }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Params.capabilities_section.first_section.title }}</h2>
        <p class="font-ibm text-base leading-normal pb-6 opacity-75">{{ .Params.capabilities_section.first_section.paragraph | safeHTML }}</p>
        <div class="flex flex-wrap">
            <a class="w-full md:w-5/12 border-inside border-2 border-transparent bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner text-white mb-4 md:mb-0 mr-auto py-2 px-1 rounded-lg text-center" href='tel:1{{ .Site.Data.global_data.contact_numbers.phone }}'>
                <div class="font-titling text-2xs xl:text-3xs xxl:text-2xs tracking-widest uppercase">{{ .Params.capabilities_section.first_section.call_now_button.text }}</div>
            </a>
            <a class="w-full md:w-5/12 border-inside border-2 border-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner text-color-11594C hover:text-white mb-4 md:mb-0 mr-auto py-2 px-1 rounded-lg text-center" href='{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.capabilities_section.first_section.pdf_button.link }}'>
                <div class="font-titling text-2xs xl:text-3xs xxl:text-2xs tracking-widest uppercase">{{ .Params.capabilities_section.first_section.pdf_button.text }}</div>
            </a>
        </div>
    </div>
    <style>
    .mobile-command-center-bottom {
        background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.capabilities_section.first_section.img }}");
    }
    </style>
    <div class="w-full xl:w-7/12 bg-cover bg-no-repeat bg-center mb-12 mobile-command-center-bottom">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div id="bunk-trailers" class="flex flex-wrap flex-col-reverse xl:flex-row-reverse items-center pb-8">

<div class="w-full xl:w-5/12 text-black mr-auto xl:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Params.capabilities_section.second_section.subtitle }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Params.capabilities_section.second_section.title }}</h2>
    <p class="font-ibm text-base leading-normal pb-6 opacity-75">{{ .Params.capabilities_section.second_section.paragraph | safeHTML }}</p>
    <div class="flex flex-wrap">
        <a class="w-full md:w-5/12 border-inside border-2 border-transparent bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner text-white mb-4 md:mb-0 mr-auto py-2 px-1 rounded-lg text-center" href='tel:1{{ .Site.Data.global_data.contact_numbers.phone }}'>
            <div class="font-titling text-2xs xl:text-3xs xxl:text-2xs tracking-widest uppercase">{{ .Params.capabilities_section.second_section.call_now_button.text }}</div>
        </a>
        <a class="w-full md:w-5/12 border-inside border-2 border-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner text-color-11594C hover:text-white mb-4 md:mb-0 mr-auto py-2 px-1 rounded-lg text-center" href='{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.capabilities_section.second_section.pdf_button.link }}'>
            <div class="font-titling text-2xs xl:text-3xs xxl:text-2xs tracking-widest uppercase">{{ .Params.capabilities_section.second_section.pdf_button.text }}</div>
        </a>
    </div>
</div>
<style>
.bunk-trailers-bottom {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.capabilities_section.second_section.img }}");
}
</style>
<div class="w-full xl:w-7/12 bg-cover bg-no-repeat bg-bottom mb-12 bunk-trailers-bottom">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div id="laundry-trailers" class="flex flex-wrap flex-col-reverse xl:flex-row items-center pb-8">

    <div class="w-full xl:w-5/12 text-black xl:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Params.capabilities_section.third_section.subtitle }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Params.capabilities_section.third_section.title }}</h2>
        <p class="font-ibm text-base leading-normal pb-6 opacity-75">{{ .Params.capabilities_section.third_section.paragraph | safeHTML }}</p>
        <div class="flex flex-wrap">
            <a class="w-full md:w-5/12 border-inside border-2 border-transparent bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner text-white mb-4 md:mb-0 mr-auto py-2 px-1 rounded-lg text-center" href='tel:1{{ .Site.Data.global_data.contact_numbers.phone }}'>
                <div class="font-titling text-2xs xl:text-3xs xxl:text-2xs tracking-widest uppercase">{{ .Params.capabilities_section.third_section.call_now_button.text }}</div>
            </a>
            <a class="w-full md:w-5/12 border-inside border-2 border-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner text-color-11594C hover:text-white mb-4 md:mb-0 mr-auto py-2 px-1 rounded-lg text-center" href='{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.capabilities_section.third_section.pdf_button.link }}'>
                <div class="font-titling text-2xs xl:text-3xs xxl:text-2xs tracking-widest uppercase">{{ .Params.capabilities_section.third_section.pdf_button.text }}</div>
            </a>
        </div>
    </div>
    <style>
        .laundry-trailers-bottom {
            background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.capabilities_section.third_section.img }}");
        }
    </style>
    <div class="w-full xl:w-7/12 bg-cover bg-no-repeat bg-center mb-12 laundry-trailers-bottom">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

</div>

</section>

{{ partial "page-globals/green-CTA.html" . }}

{{ partial "page-globals/structures.html" . }}

{{ partial "page-globals/assets.html" . }}

{{ end }}