<!DOCTYPE html><html lang="{{ $.Site.LanguageCode | default "en" }}"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">{{ partial "head/siteMeta.html" . }}<meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width,minimum-scale=1">{{ partial "head/robots.html" . }}{{ partial "head/faviCode.html" . }}{{ partial "head/globalStyle.html" . }}{{ partial "head/google-tag-manager.html" . }}{{ partial "head/rss.html" . }}{{ partial "head/fontLink.html" . }}{{ partial "head/fontAwesome.html" . }}{{ partial "head/googleAnalytics.html" . }}</head>

{{ partial "head/siteSchema" . }}

<body class="max-w-8.5xl body-wrapper {{ .Param "page-status" }}">
{{ partial "body/google-tag-manager.html" . }}

{{ block "header" . }}{{ partial "header.html" . }}{{ end }}

<main role="main">
{{ block "main" . }}{{ end }}
</main>

{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}

{{ block "scripts" . }}{{ partial "siteScripts.html" . }}{{ end }}

</body>
</html>