{{ if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ .Site.BaseURL }}",
  {{ if .Site.Author.name -}}
  "author": {
    "@type": "Organization",
    "name": "{{ .Site.Author.name }}"
  },
  {{- end }}
  {{ if .Site.Data.global_data.meta.description -}}
  "description": "{{ .Site.Data.global_data.meta.description }}",
  {{- end }}
  {{ with .Site.Params.image -}}
  "image": "{{ .url | absURL }}",
  {{- end }}
  "thumbnailUrl": "{{ .Site.Data.global_data.logos.logo }}",
  "name": "{{ .Site.Title }}"
}
</script>
{{/*
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://example.com/search?&q={query}",
    "query-input": "required"
  } */}}
{{- else if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "headline": "{{ .Title }}",
  "description": {{ .Params.meta_description }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ if .Site.Params.tracking.cloudinary_url }}{{ .Site.Params.tracking.cloudinary_url }}{{ else }}{{ .Site.BaseURL }}{{ end }}{{ .Param "publish_image" }}"
  },
  "genre": "{{ .Type }}",
  {{ with .Params.tags -}}
  "keywords": "{{ delimit . ", " }}",
  {{- end }}
  "url": "{{ .Permalink }}",
  {{ if not .PublishDate.IsZero -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": "{{ .Format "2006-01-02T15:04:05" | safeHTML }}",
  {{- end }}
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Data.global_data.logos.logo }}"
    }
  },
  {{ if .Params.author -}}
  "author": {
    "@type": "Organization",
    "name": "{{ .Params.author }}"
  },
  {{- else if .Site.Author.name -}}
  "author": {
    "@type": "Organization",
    "name": "{{ .Site.Author.name }}"
  },
  {{- end }}
}
</script>
{{- end }}