---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: content/amenities
  label: Amenities
  create: all
  match: "**/*"
  exclude: _index.md
  templates:
  - amenity
- type: directory
  path: content/capabilities
  label: Capabilities (Detailed)
  create: all
  match: "**/*"
  exclude: _index.md
  templates:
  - capabilities-detailed
- type: directory
  path: content/structures
  label: Structures
  create: all
  match: "**/*"
  exclude: _index.md
- type: directory
  path: content
  label: Homepage
  create: all
  match: "*"
- type: directory
  path: content/pages
  label: Pages
  create: all
  match: "**/*"
  exclude: thank-you.md
- type: document
  path: themes/site-theme/data/global_data.toml
  label: Global Data
upload_dir: Ranco Response
public_path: ''
front_matter_path: ''
use_front_matter_path: 
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.55.6
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.55.6
