<section id="amenities" class="relative flex flex-wrap pt-24 {{ if eq .Title "Home" }}md:pl-20 md:pr-16{{ else }}md:pl-32 md:pr-20{{ end }}">

<div class="flex flex-wrap w-5/6 lg:w-4/5 mx-auto pb-24 px-3 lg:px-0">
    <div class="flex flex-wrap lg:w-1/2 mr-auto lg:pl-6 pr-6 lg:pr-0">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest">{{ .Site.Data.global_data.amenities_bottom_sections.subtitle }}</h6>
    <h2 class="w-full font-titling text-3xl lg:text-5xl xxl:text-6xl font-bold text-white leading-none py-4">{{ .Site.Data.global_data.amenities_bottom_sections.title }}</h2>
    <p class="w-full font-ibm text-xl text-white leading-normal pb-4">{{ .Site.Data.global_data.amenities_bottom_sections.text }}</p>
    </div>
    <div class="flex flex-wrap w-full max-w-4xl pt-5 pb-24">
        {{ range (where .Site.Pages "Type" "amenities" ) }}
        <a href="/amenities/" class="w-full md:w-1/2 lg:w-1/3 pb-8 pr-8 hover:cursor-pointer">
            <div class="inline amenities-outer-box">
                <img class="w-full h-40" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.image }}">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">{{ .Params.name }}</h4>
                    <p class="font-ibm text-0 leading-tight opacity-75">{{ .Params.text }}</p>
                </div>
            </div>
        </a>
        {{ end }}
        <a href="/amenities/" class="w-full md:w-1/2 lg:w-1/3 pb-8 pr-8 hover:cursor-pointer">
            <div class="h-64 amenities-outer-box">
                <img class="w-full h-40" src="{{ .Site.Params.tracking.cloudinary_url }}/v1576018357/Ranco%20Response/other-amenities_h59alx.jpg">
                <div class="bg-white pt-6 pb-8 px-6 amenities-inner-box">
                    <h4 class="font-titling text-2xl leading-none">Others</h4>
                </div>
            </div>
        </a>
    </div>
</div>

<div id="amenitiesTitle" class="w-1/6 md:w-1/5 -ml-8 md:left-0">
    <h2 class="w-1/2 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-E6E6E6 font-bold mx-auto py-4 uppercase vertical-text opacity-50">{{ .Site.Data.global_data.amenities_bottom_sections.vertical_title }}</h2>
</div>

</section>