<style>
.facilities-support-bottom {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.capabilities_bottom_sections.facilities_support.image }}");
}
.turn-key-camps-bottom {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.image }}");
}
.tactical-operation-centers-bottom {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.capabilities_bottom_sections.tactical_operation_centers.image }}");
}
.business-continuity-bottom {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.capabilities_bottom_sections.business_continuity.image }}");
}
.lsa-support-bottom {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.capabilities_bottom_sections.lsa_support.image }}");
}
</style>

<section id="capabilities" class="relative flex flex-wrap bg-color-F0F0F0 py-24 md:px-12 lg:px-24">

<div id="capabilitiesTitle" class="w-1/6">
    <h2 class="w-1/2 md:w-1/5 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">{{ .Site.Data.global_data.capabilities_bottom_sections.vertical_title }}</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 pr-8">

<div id="facilities-support" class="flex flex-wrap flex-col-reverse xl:flex-row items-center pb-8">

    <div class="w-full xl:w-1/3 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Site.Data.global_data.capabilities_bottom_sections.facilities_support.title }}</h2>
        <p class="font-ibm text-base leading-normal pb-6 opacity-75">{{ .Site.Data.global_data.capabilities_bottom_sections.facilities_support.text }}</p>
        <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href='{{ .Site.Data.global_data.capabilities_bottom_sections.facilities_support.button_link }}'>
            <span class="font-titling text-2xs text-white tracking-widest uppercase">See Our Capabilities</span>
        </a>
    </div>
    <div class="w-full xl:w-2/3 bg-cover bg-no-repeat bg-center mb-12 facilities-support-bottom">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div id="turnkey-camps" class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center pb-8">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.title }}</h2>
    <p class="font-ibm text-base leading-normal pb-3 opacity-75">{{ .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.text }}</p>
    {{ if .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.list_items }}
    <ul class="font-ibm text-sm list-inside list-disc pb-12 opacity-75">
        {{ range .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.list_items }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    {{ else }}{{ end }}
    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href='{{ .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.button_link }}'>
        <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Site.Data.global_data.capabilities_bottom_sections.turnkey_camps.button_text }}</span>
    </a>
</div>
<div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-bottom mb-12 turn-key-camps-bottom">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div id="tactical-operation" class="flex flex-wrap flex-col-reverse lg:flex-row items-center pb-8">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Site.Data.global_data.capabilities_bottom_sections.tactical_operation_centers.title }}</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">{{ .Site.Data.global_data.capabilities_bottom_sections.tactical_operation_centers.text }}</p>
        <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href='{{ .Site.Data.global_data.capabilities_bottom_sections.tactical_operation_centers.button_link }}'>
            <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Site.Data.global_data.capabilities_bottom_sections.tactical_operation_centers.button_text }}</span>
        </a>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 tactical-operation-centers-bottom">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div id="business-continuity" class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center pb-8">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Site.Data.global_data.capabilities_bottom_sections.business_continuity.title }}</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">{{ .Site.Data.global_data.capabilities_bottom_sections.business_continuity.text }}</p>
    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href='{{ .Site.Data.global_data.capabilities_bottom_sections.business_continuity.button_link }}'>
        <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Site.Data.global_data.capabilities_bottom_sections.business_continuity.button_text }}</span>
    </a>
</div>
<div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 business-continuity-bottom">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div id="lsa-support" class="flex flex-wrap flex-col-reverse lg:flex-row items-center pb-8">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">{{ .Site.Data.global_data.capabilities_bottom_sections.lsa_support.title }}</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">{{ .Site.Data.global_data.capabilities_bottom_sections.lsa_support.text }}</p>
        <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href='{{ .Site.Data.global_data.capabilities_bottom_sections.lsa_support.button_link }}'>
            <span class="font-titling text-2xs text-white tracking-widest uppercase">{{ .Site.Data.global_data.capabilities_bottom_sections.lsa_support.button_text }}</span>
        </a>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 lsa-support-bottom">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

</div>

</section>