<section id="structures" class="relative flex flex-wrap py-24 bg-white md:px-12 lg:px-24">

<div id="capabilitiesTitle" class="w-1/6">
    <h2 class="w-1/2 md:w-1/5 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">Capabilities</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 pr-8">

<div id="emergency-response" class="flex flex-wrap flex-col-reverse lg:flex-row items-center pb-8">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Excellence and Expertise</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Emergency Response</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">Ranco Response augments the existing capabilities of both military and commercial entities. We deliver, setup, operate and maintain all of the equipment, allowing our customers to focus on their mission, whether it is a military training event or a business continuity situation or any enduring facility support mission, Ranco Response is there.</p>
        <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="/emergency-response/more-info/">
            <span class="font-titling text-2xs text-white tracking-widest uppercase">Learn more</span>
        </a>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 facilities-support">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div id="logistics-support" class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center pb-8">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Excellence and Expertise</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Logistics Support</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Ranco Response augments the existing capabilities of both military and commercial entities. We deliver, setup, operate and maintain all of the equipment, allowing our customers to focus on their mission, whether it is a military training event or a business continuity situation or any enduring facility support mission, Ranco Response is there.</p>
    <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="/logistics-support/more-info/">
        <span class="font-titling text-2xs text-white tracking-widest uppercase">Learn more</span>
    </a>
</div>
<div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-bottom mb-12 turn-key-camps">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div id="event-support" class="flex flex-wrap flex-col-reverse lg:flex-row items-center pb-8">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">Excellence and Expertise</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Event Support</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">When little to no infrastructure is available to meet the demands of festival attendees or other special events, Ranco Response provides the temporary facilities to ensure the health and comfort of the visiting population. All facilities and systems are assimilated into existing infrastructure and operated in accordance with all federal, state, and local guidelines with the safety of the attendees the number one priority.</p>
        <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="/event-support/more-info/">
            <span class="font-titling text-2xs text-white tracking-widest uppercase">Learn more</span>
        </a>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 tactical-operation-centers">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

</div>

</section>