<section id="capabilities" class="relative flex flex-wrap bg-color-F0F0F0 py-24 md:px-12 lg:px-24">

<div id="capabilitiesTitle" class="w-1/6">
    <h2 class="w-1/2 md:w-1/5 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-color-333333 font-bold mx-auto py-4 uppercase vertical-text opacity-50">Capabilities</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 pr-8">

<div id="facilities-support" class="flex flex-wrap flex-col-reverse xl:flex-row items-center">

    <div class="w-full xl:w-1/3 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Facilities Support</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">Ranco Response provides janitorial, maintenance, trash disposal, security guards and services, mail routing, reception, laundry, and other related services to support operations to both government-owned and contractor-owned facilities. With a focus on safety, efficiency, sustainability, and quality, Ranco Response maintains the infrastructure in proper operating conditions through routine, preventative maintenance and safety checks, helping to prevent operational failure, reducing operating costs and allowing occupants to focus on their core mission.</p>
    </div>
    <div class="w-full xl:w-2/3 bg-cover bg-no-repeat bg-center mb-12 facilities-support">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div id="turnkey-camps" class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Turn-key Camps</h2>
    <p class="font-ibm text-base leading-normal pb-3 opacity-75">Relocations or displacements needing life support areas can be due to natural disasters, civil disruptions, migrant populations, mass gatherings, or military maneuvers. All, portions, or single items of this list comprising a turn-key Base Camp can be provided for short or long durations:</p>
    <ul class="font-ibm text-sm list-inside list-disc pb-12 opacity-75">
        <li>Engineered Soft Wall Structures</li>
        <li>Temporary Power and HVAC</li>
        <li>Food Service</li>
        <li>Water System</li>
        <li>Showers, Toilets, Laundry, and Hygiene Facilities</li>
        <li>Morale Welfare and Recreation (MWR) Facilities</li>
        <li>Medical Facilities</li>
        <li>Security</li>
    </ul>
</div>
<div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-bottom mb-12 turn-key-camps">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div id="tactical-operation" class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Tactical Operation Centers</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">Tactical Operation Centers can be provided in the form of climate-controlled clear-span structures complete with sidewalls, doors, wood flooring, lighting, exit signs, fireextinguishers, and HVAC. Tents are sized based on client requirements and range from 500 square feet to 30,000 square feet.</p>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 tactical-operation-centers">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div id="business-continuity" class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Business Continuity</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">Ranco Response has extensive experience providing code compliant facilities to satisfy disruptions to ongoing operations. These OSHA compliant facilities support disaster response, temporary functional space during renovations or work continuation services, and turnaround/shutdown support.Our solutions are rapidly deployable, nationally based, modular, and scalable so they can fit where needed and support your specific needs. The equipment can support all facets of business including retail, pharmacy, grocery, office, convenience store, staff accommodations,and more.</p>
</div>
<div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 business-continuity">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div id="lsa-support" class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">LSA Support</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">Our services range from full-service turnkey base camps and FOB support to the provision of any single component which can be used independently to augment existing facilities such as kitchens or barracks. We provide staffing, equipment, transportation, and support services to conduct self-contained turnkey Logistics Staging Area (LSA) operations to receive bulk resources of shelf stable meals, bottled water, bagged ice, and tarps or other accountable and/or expendable supplies from federal, state, or vendor resources. We will account for and distribute bulk resources to designated county points of distribution at the direction of the client.</p>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 lsa-support">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

</div>

</section>