<section id="CTA-green-section" class="flex flex-wrap bg-color-00594D">
    <h4 class="w-5/6 lg:w-1/2 font-titling text-2xl text-white text-center mx-auto leading-tight py-8">{{ .Site.Data.global_data.cta_before_footer_section.title }}</h4>
    <div class="flex flex-wrap w-full mx-auto pb-10">
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner ml-auto mr-2 pt-1 pb-2 px-4 rounded-lg" href="tel:1{{ .Site.Data.global_data.contact_numbers.phone }}">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">{{ .Site.Data.global_data.cta_before_footer_section.call_button.button_text }}</span>
    </a>
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner mr-auto ml-2 pt-1 pb-2 px-4 rounded-lg" href="mailto:sales@rancoresponse.com">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">{{ .Site.Data.global_data.cta_before_footer_section.email_button.button_text }}</span>
    </a>
    </div>
</section>