<style>
#capabilities {
    background-image: url("/pageimg/hero-back.PNG");
}
</style>

<section id="capabilities" class="relative flex flex-wrap py-24 bg-white md:pl-12 lg:pl-24 md:pr-12 md:pr-20">

<div id="capabilitiesTitle" class="w-1/6">
    <h2 class="w-1/2 md:w-1/5 sticky lg:relative top-0 font-titling text-3xl lg:text-5xl text-white font-bold mx-auto py-4 uppercase vertical-text opacity-50">Capabilities</h2>
</div>

<div class="flex flex-wrap w-5/6 lg:w-4/5 pr-8">

<div class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8 text-white">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Facilities Support</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 facilities-support">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

<div class="flex flex-wrap flex-col-reverse lg:flex-row-reverse items-center">

<div class="w-full lg:w-2/5 text-black mr-auto lg:pl-8 text-white">
    <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
    <h2 class="font-titling text-2xl font-bold leading-none pb-3">Turn-key Camps</h2>
    <p class="font-ibm text-base leading-normal pb-12 opacity-75">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
</div>
<div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-bottom mb-12 turn-key-camps">
    <div class="py-20 md:py-56"></div>
</div>

</div>

<div class="flex flex-wrap flex-col-reverse lg:flex-row items-center">

    <div class="w-full lg:w-2/5 text-black lg:pr-8 text-white">
        <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-3">{{ .Title }}</h6>
        <h2 class="font-titling text-2xl font-bold leading-none pb-3">Tactical Operation Centers</h2>
        <p class="font-ibm text-base leading-normal pb-12 opacity-75">When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations. When time is of the essence, Ranco Response specializes in rapidly deploying fully-functioning facilities and resources to support natural disasters, civil disruptions, migrant populations, mass gatherings, or military operations.</p>
    </div>
    <div class="w-full lg:w-3/5 bg-cover bg-no-repeat bg-center mb-12 tactical-operation-centers">
        <div class="py-20 md:py-56"></div>
    </div>

</div>

</div>

</section>