<style>
.header-hero-back {
  background-image: url("/pageimg/hero-back.PNG")
}
.hero-image {
  background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.hero_image }}");
  background-size: 70%;
}
@media screen and (min-width:600px) {
  .hero-image {
  background-size: 500px;
}
}
@media screen and (min-width:992px) {
  .structure-outer-box:hover > img {
    height: 0px !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.structure-outer-box:hover > .structure-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
    transition: .5s;
}
.amenities-outer-box:hover > img {
    height: 0px !important;
    transition: .2s;
}
.amenities-outer-box:hover > .amenities-inner-box {
    background-color: #0D443A !important;
    color: #fff !important;
    height: 100% !important;
    transition: .2s;
}
.amenities-outer-box:hover > .amenities-inner-box p {
    font-size: 18px !important;
    padding-top: 10px;
    transition: .5s;
}
}
</style>

<style>
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  background: transparent;
  border: 0;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
</style>

<div id="header-functions" class="">
{{ if eq .Site.Params.extraTools.floatingHeader true }}
<div id="headerFloatingHeightFix" class="" ></div>
{{ else }}
{{ end }}

<div class="flex flex-wrap bg-color-0D443A font-ibm text-white text-center">
  <div class="flex flex-wrap items-center w-auto mx-auto pt-5 md:pt-3 pb-12 md:pb-6 px-5 lg:px-12 covid-notice">
    <h6 class="w-auto font-ibm text-base leading-tight pb-5 md:pb-0 pr-2 opacity-75">Now offering COVID-19 Drive-Thru Testing Facilities</h6>
    <a data-micromodal-trigger="covid-test-tents" class="w-full md:w-auto bg-color-092E27 hover:bg-color-11594C hover:cursor-pointer active:bg-color-092E27 focus:shadow-inner pb-1 px-4 md:rounded-lg">
      <span class="font-titling text-2xs text-white tracking-widest uppercase">Learn More</span>
    </a>
  </div>
</div>

<div class="micromodal-slide" id="covid-test-tents" aria-hidden="true">
  <div class="flex flex-wrap z-50 modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="flex flex-wrap w-5/6 lg:w-2/3 bg-white p-4 overflow-y-auto modal__container">
      <img class="w-11/12 md:w-1/2 h-80 mx-auto" src="https://res.cloudinary.com/pioneer-design/image/upload/v1584653850/Ranco%20Response/RR_-_RDTAC_PICTURE_ccwxfl.jpg">
      <a data-micromodal-close aria-label="Close this dialog window" class="flex flex-wrap w-full">
        <span data-micromodal-close aria-label="Close this dialog window" class="w-full lg:w-auto bg-color-092E27 hover:bg-color-11594C hover:cursor-pointer active:bg-color-092E27 focus:shadow-inner py-2 px-4 rounded-lg font-titling text-2xs text-white text-center tracking-widest uppercase hover:cursor-pointer">Close</span>
      </a>
    </div>
  </div>
</div>

<section id="header" class="bg-transparent header-container">
  <div class="flex flex-wrap items-center py-4 md:py-8 px-6 md:px-12 lg:px-0 lg:pl-90p lg:pr-8 select-none header-box">
    <a id="mobile-phone" class="w-1/4 md:w-1/12 lg:hidden text-white text-left" href="tel:1{{ .Site.Data.global_data.contact_numbers.phone }}">
      <div>
        <i class="text-2xl md:text-3xl fas fa-phone"></i>
      </div>
    </a>
    <a id="logo" class="w-1/2 lg:w-1/5 mr-auto" href="/">
      <img class="w-48 lg:w-141p mx-auto md:mx-0 md:mr-auto" src="{{ .Site.Data.global_data.logos.logo }}" width="141px">
    </a>
    {{ partial "siteNavi.html" . }}
  </div>
</section>

<div class="bg-color-00261D h-screen overflow-scroll mobile-menu">
  <div class="py-4 md:py-8 px-6 md:px-12 flex flex-wrap items-center">
    <a id="mobile-phone" class="w-1/4 md:w-1/12 lg:hidden text-white text-left" href="tel:12678857651">
      <div >
        <i class="text-2xl md:text-3xl fas fa-phone"></i>
      </div>
    </a>
    <a id="logo" class="w-1/2 lg:w-1/5 mr-auto" href="/">
      <img class="w-48 mx-auto md:mx-0 md:mr-auto" src="{{ .Site.Data.global_data.logos.logo }}" width="141px">
    </a>
    <i class="w-1/4 text-2xl md:text-3xl text-white text-right fas fa-times close-menu"></i>
  </div>
  <div class="w-5/6 mx-auto flex flex-wrap pt-8 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    {{ if .HasChildren }}
  <div class='w-full font-Roboto text-left text-white hover:text-white opacity-100 hover:opacity-75 text-3xl font-bold pb-8'><a class='text-white no-underline tracking-wide desktop-menu-item'>{{ .Name }}</a>
    <ul class='w-11/12 mx-auto' role='menu'>
      {{ range .Children }}
      <li>
        <a href='{{ .URL }}' class='text-xl opacity-75 text-white no-underline menu-item'>{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
{{ else }}
      <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}w-full font-titling text-color-00B391 text-left text-sm uppercase no-underline pb-12 tracking-widest" href="{{.URL}}">{{ .Name }}</a>{{ end }}
    {{ end }}
  </div>
  <div class="flex flex-wrap w-full mx-auto pb-10">
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner ml-auto mr-2 pt-3 pb-4 px-10 rounded-lg" href="tel:1{{ .Site.Data.global_data.contact_numbers.phone }}">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">Call us now</span>
    </a>
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner mr-auto ml-2 pt-3 pb-4 px-10 rounded-lg" href="mailto:{{ .Site.Data.global_data.email.email }}">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">Email us now</span>
    </a>
  </div>
</div>

<div class="flex flex-wrap bg-bottom bg-contain lg:bg-cover -mt-32 header-hero-back">
  {{ if .Params.hero_title }}
  <div class="flex flex-wrap items-center flex-col-reverse md:flex-row w-full mt-32 pb-24">
    <div class="w-11/12 md:w-7/12 px-6 lg:px-24 xl:px-0 xl:pl-150p xl:pr-24 text-white">
      {{ if .Params.hero_subtitle }}
      <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pt-8 md:pb-3">{{ .Params.hero_subtitle }}</h6>
      {{ else }}{{ end }}
      <h1 class="hidden md:block font-titling text-5xl xxl:text-6xl font-bold leading-none">{{ .Params.hero_title }}</h1>
      <p class="font-ibm text-lg xl:text-xl xxl:text-2xl leading-normal md:-mt-3 pt-5 pb-8">{{ .Params.hero_paragraph }}</p>
      {{ if eq .Params.has_hero_button true }}
      <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Params.hero_button_link }}">
        <span class="font-titling text-2xs tracking-widest uppercase">{{ .Params.hero_button_text }}</span>
      </a>
      {{ else }}{{ end }}
    </div>
    <div class="w-full md:w-5/12 lg:bg-cover bg-no-repeat bg-right pl-6 hero-image">
      <h1 class="md:hidden font-titling text-3xl sm:text-5xl text-white font-bold leading-none py-24">{{ .Params.hero_title }}</h1>
      <div class="md:py-64"></div>
    </div>
  </div>
  {{ else }}
  <div class="py-16"></div>
  {{ end }}
</div>

</div>