<style>
.header-hero-back {
  background-image: url("/pageimg/hero-back.PNG")
}
.hero-image {
  background-image: url("{{ .Params.hero_image }}");
  background-size: 70%;
}
@media screen and (min-width:600px) {
  .hero-image {
  background-size: 350px;
}
}
</style>

<div id="header-functions" class="">
{{ if eq .Site.Params.extraTools.floatingHeader true }}
<div id="headerFloatingHeightFix" class="" ></div>
{{ else }}
{{ end }}

<section id="header" class="bg-transparent header-container">
  <div class="flex flex-wrap items-center py-4 md:py-8 px-6 md:px-12 lg:px-0 lg:pl-90p lg:pr-8 select-none header-box">
    <a id="mobile-phone" class="w-1/4 md:w-1/12 lg:hidden text-white text-left" href="">
      <div >
        <i class="text-base md:text-3xl fas fa-phone"></i>
      </div>
    </a>
    <a id="logo" class="w-1/2 lg:w-1/5 mr-auto" href="/">
      <img class="w-48 lg:w-141p mx-auto md:mx-0 md:mr-auto" src="{{ .Site.Params.logos.logo }}" width="141px">
    </a>
    {{ partial "siteNavi.html" . }}
  </div>
</section>

<div class="bg-color-00261D h-screen overflow-scroll mobile-menu">
  <div class="py-4 md:py-8 px-6 md:px-12 flex flex-wrap items-center">
    <a id="mobile-phone" class="w-1/4 md:w-1/12 lg:hidden text-white text-left" href="">
      <div >
        <i class="text-base md:text-3xl fas fa-phone"></i>
      </div>
    </a>
    <a id="logo" class="w-1/2 lg:w-1/5 mr-auto" href="/">
      <img class="w-48 mx-auto md:mx-0 md:mr-auto" src="{{ .Site.Params.logos.logo }}" width="141px">
    </a>
    <i class="w-1/4 text-base md:text-3xl text-white text-right fas fa-times close-menu"></i>
  </div>
  <div class="w-5/6 mx-auto flex flex-wrap pt-8 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    {{ if .HasChildren }}
  <div class='w-full font-Roboto text-left text-white hover:text-white opacity-100 hover:opacity-75 text-3xl font-bold pb-8'><a class='text-white no-underline tracking-wide desktop-menu-item'>{{ .Name }}</a>
    <ul class='w-11/12 mx-auto' role='menu'>
      {{ range .Children }}
      <li>
        <a href='{{ .URL }}' class='text-xl opacity-75 text-white no-underline menu-item'>{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
{{ else }}
      <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}w-full font-Roboto text-color-00B391 text-left text-3xl font-bold no-underline pb-8" href="{{.URL}}">{{ .Name }}</a>{{ end }}
    {{ end }}
  </div>
  <div class="absolute bottom-0 flex flex-wrap w-full mx-auto pb-10">
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner ml-auto mr-2 pt-3 pb-4 px-10 rounded-lg" href="#">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">Call us now</span>
    </a>
    <a class="w-auto bg-color-008068 hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner mr-auto ml-2 pt-3 pb-4 px-10 rounded-lg" href="#">
        <span class="font-titling text-white text-2xs tracking-widest uppercase">Email us now</span>
    </a>
  </div>
</div>

<div class="flex flex-wrap bg-bottom bg-contain lg:bg-cover -mt-32 header-hero-back">
  {{ if .Params.hero_title }}
  <div class="flex flex-wrap items-center flex-col-reverse md:flex-row w-full mt-32 pb-24">
    <div class="w-full md:w-7/12 px-6 lg:px-24 xl:px-0 xl:pl-150p xl:pr-24 text-white">
      <h6 class="w-full font-titling text-2xs text-color-00B391 uppercase tracking-widest pb-8 md:pb-3">{{ if .Params.hero_subtitle }}{{ .Params.hero_subtitle }}{{ else }}{{ end }}</h6>
      <h1 class="hidden md:block font-titling text-5xl xxl:text-6xl font-bold leading-none">{{ .Params.hero_title }}</h1>
      <p class="font-ibm text-lg xl:text-xl xxl:text-2xl leading-normal -mt-12 md:-mt-3 py-8">{{ .Params.hero_paragraph }}</p>
      {{ if eq .Params.has_hero_button true }}
      <a class="bg-color-11594C hover:bg-color-0D443A active:bg-color-092E27 focus:shadow-inner pt-1 pb-2 px-4 rounded-lg" href="{{ .Params.hero_button_link }}">
        <span class="font-titling text-2xs tracking-widest uppercase">{{ .Params.hero_button_text }}</span>
      </a>
      {{ else }}{{ end }}
    </div>
    <div class="w-full md:w-5/12 lg:bg-cover bg-no-repeat bg-right -mt-5 pl-6 pr-24 hero-image">
      <h1 class="md:hidden font-titling text-3xl sm:text-5xl text-white font-bold leading-none py-24 sm:py-40">{{ .Params.hero_title }}</h1>
      <div class="md:py-64"></div>
    </div>
  </div>
  {{ else }}
  <div class="py-16"></div>
  {{ end }}
</div>

</div>